@import "tailwindcss";

/* Konfigurasi kustom untuk scroll yang mulus dan bebas geser horizontal */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #09090b;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
}